div.menu {
  text-align: right;
}

div.top_banner {
  /*border: 1px solid #F0EBE1;*/
  background: #806C46;
  
  /*margin: 2px;*/
  margin-bottom: 0.5em;
  padding: 0.5em;
  /*text-align: center;*/
  color: white;
  border-radius: 0.5em;
}

#form_config_editor {
  display: none;
}

#question_config_editor {
  display: none;
}

#top_banner_menu_contain {
  float: right;
  display: block;  
}

#menu_indicator {
  font-weight: bold;
  text-decoration: underline;
  float: right;
  display: block;
  width: 100%;
  text-align: right;
  padding-right: 0.5em;
}

.banner_menu {
  background: rgba(0,0,0,0.65);

  margin: 0em;
  padding: 0.5em; 
  list-style: none;
  display: none;
  border-radius: 0.5em;
}

.banner_menu li {
  width: 100%;
  /*padding-left: 0.7em;
  padding-right: 0.7em;*/
  text-align: right;
}

.banner_menu li:hover {
  /*background: pink;*/
}

.banner_menu a {  
  color: white;
}

.banner_menu a:hover {
  border-radius: 0.5em;
  background-color: white;
  color: black;
  /*color: white;*/
  /*font-style: ;*/
}

#rightBanner {
  width: auto;
  height: auto;
}

div.menu a {
  width: 100%;
  /*font-weight: bold;*/
  font-size: 10pt;
  color: white;
  /*color: #F0EBE1;*/
}

div.menu a:hover {
  font-size: 10pt;
  color: #F0EBE1;
  /*color: #747C53;*/
}

.input_multiple {
  float: left;
  margin-left: 5px;
}
/*
div.obj_list_item {
  border: 1px solid #BEB091;
  background: #E9E1D2;
  margin: 2px;
  padding: 5px;
}

span.req {
  font-size: 8pt;
  color: #961400;
  font-weight: bold;
}

.Err {
 color: #961400;
 font-weight: bold;
}

.info{
	font-size: 8pt;
}

.small_link {
	font-size: 8pt;
}

.delete_this, .delete_this:hover{
	color: red;
}

.property {
  font-weight: bold;
}

.multiline_property_data {
  padding-left: 9px;
}

label {
  font-weight: bold;
}

.longlist {
  max-height: 500px;
  overflow: auto;
}
*/

/** This stuff below is stuff I added for this app! **/

.form_contain{
  display: table;
  width: 100%;
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;   
  border-spacing:0px 3px;
}

.form_row { 
  
  margin-right: auto;
  margin-left: auto;
  width: 100%;  
  display: table-row;
  /*border-bottom: 4px solid pink;*/ 
  background-color: #F5EFE4;
  
  border: 1px solid #000;
}

.form_row:first-child div:first-child {
  border-top-left-radius: 10px; 
}
.form_row:first-child div:last-child{
  border-top-right-radius: 10px;
}
.form_row:last-child  div:last-child{
  border-bottom-right-radius: 10px;
}
.form_row:last-child  div:first-child {
  border-bottom-left-radius: 10px;
}

.form_question {  
  vertical-align: top;
  padding: 5px;
  width: 50%;
  display: table-cell;
  /*border-bottom: 2px solid #806C46;
  border-left: 1px solid #806C46;
  
  border-top: 1px solid #806C46;*/
  /*border-bottom-left-radius: 10px;
  border-top-left-radius: 10px
  background-color: #F5EFE4; ; 
  border-right: 1px dotted rgba(0,0,0,0.55);*/
  margin-bottom:10px;
  background-color:
}
.form_question_text{
font-size:1.2em;
}
.form_question_alt{
 color:#8F2F2F;
}
.form_answer {
  /*float: left;*/
  padding: 5px;
  width: 50%;    
  display: table-cell;
  
 /* border-bottom: 2px solid #806C46;
  border-right: 1px solid #806C46;
  border-top: 1px solid #806C46;*/
  /*border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #F5EFE4;*/
  /*background: blue;*/
  vertical-align:middle;
}




.form_element_contain {
  float: right;
  position:relative;
}

.clear {
  clear: both;
}

.err_notif{
  z-index: +1;
  position: absolute;
  max-width: 300px;
  background-color: rgba(255,192,203,0.85);
  border: 1px solid red;
  border-radius: 0px 5px 5px 5px;
  padding: 0px 3px 0px 3px;
  color: red;
}

.err_notif.hide{
  display: none;
}

.err_notif.show{
  display: block;
}

.icon {
  cursor: pointer;
}