div.menu {
  text-align: right;
}

div.top_banner {
  /*border: 1px solid #F0EBE1;*/
  background: #806C46;
  
  /*margin: 2px;*/
  margin-bottom: 0.5em;
  padding: 0.5em;
  /*text-align: center;*/
  color: white;
  border-radius: 0.5em;
}

#form_config_editor {
  display: none;
}

#question_config_editor {
  display: none;
}

#top_banner_menu_contain {
  float: right;
  display: block;
  /*background-color: pink;*/
}

#menu_indicator {
  font-weight: bold;
  text-decoration: underline;
  float: right;
  display: block;
  width: 100%;
  text-align: right;
  padding-right: 0.5em;
}

.banner_menu {
  width: 15em;
  z-index: 999;
  background: rgba(0,0,0,0.65);
  position: absolute;
  top: +2.7em;
  right: +0.8em;
  margin: 0em;
  padding: 0.5em; 
  list-style: none;
  display: none;
  border-radius: 0.5em;
}

.banner_menu li {
  width: 100%;
  /*padding-left: 0.7em;
  padding-right: 0.7em;*/
  text-align: right;
}

.banner_menu li:hover {
  /*background: pink;*/
}

.banner_menu a {
  color: white;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.banner_menu a:hover {
  border-radius: 0.5em;
  background-color: white;
  color: black;
  /*color: white;*/
  /*font-style: ;*/
}

#rightBanner {
  width: auto;
  height: auto;  
}

div.menu a {
  width: 100%;
  /*font-weight: bold;*/
  font-size: 10pt;
  color: white;
  /*color: #F0EBE1;*/
}

div.menu a:hover {
  font-size: 10pt;
  color: #F0EBE1;
  /*color: #747C53;*/
}

.input_multiple {
  display: inline-block;
  margin-left: 0.2em;
}

/** This stuff below is stuff I added for this app! **/

.form_contain{
  /*display: table;*/
  width: 100%;
  list-style: none;
  margin-left: 0em;
  padding-left: 0em;   
  border-spacing:0em 0.3em;
}

.form_row { 
  margin-right: auto;
  margin-left: auto;
  width: 100%;  
  /*display: table-row;*/
  background-color: #F5EFE4;
  /*background-color: pink;*/
  /*border: 1px solid #000;*/  
  border-radius: 1em;
  margin-bottom: 0.4em;
  clear: both;
}
/*
.form_row:first-child div:first-child {
  border-top-left-radius: 10px; 
}
.form_row:first-child div:last-child{
  border-top-right-radius: 10px;
}
.form_row:last-child  div:last-child{
  border-bottom-right-radius: 10px;
}
.form_row:last-child  div:first-child {
  border-bottom-left-radius: 10px;
}
*/
.form_question {  
  /*vertical-align: top;*/
  padding: 0.4em;
  /*width: 50%;*/
  /*display: table-cell;*/
  /*border-bottom: 2px solid #806C46;
  border-left: 1px solid #806C46;
  
  border-top: 1px solid #806C46;*/
  /*border-bottom-left-radius: 10px;
  border-top-left-radius: 10px
  background-color: #F5EFE4; ; 
  border-right: 1px dotted rgba(0,0,0,0.55);*/
  /*margin-bottom:10px;*/
  width: 100%;
  clear: both; 
}
.form_question_text{
  font-size: 1.2em;
}
.form_question_alt{
  color: #8F2F2F;
}
.form_answer, .form_information, .form_divider{
  /*float: left;*/
  background-color: rgba(255,255,255,0.40);
  padding: 0.4em;
  /*width: 100%;*/
  clear: both;
  /*width: 50%; */
  /*display: table-cell;*/
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  
 /* border-bottom: 2px solid #806C46;
  border-right: 1px solid #806C46;
  border-top: 1px solid #806C46;*/
  /*border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #F5EFE4;*/
  /*background: blue;*/
  /*vertical-align: middle;*/
}

.form_row.view_mode.visibility_hidden{
  display: none;
}

.form_divider{
  background-color: #747c53;
  border-radius: 0em;  
}

.form_divider_text{
  color: white;
  font-size: 16pt;
  text-align: center;
}

.dependhidden.view_mode{
  display: none;
}

.dependvisible.view_mode{
  display: block;
}

.dependvisible.edit_mode{
  background-color: gray;
  /*opacity: 0.8;*/
  /*background-color: rgba(0,0,0,0.9);*/
}

.dependhidden.edit_mode{
  background-color: #EEE9E9;
  /*opacity: 0.2;*/
  /*rgba(0,0,0,0.1);*/
}

.form_element_contain {
  /*float: right; */
  position:relative;
}

.clear {
  clear: both;
}

.err_notif{
  z-index: +1;
  position: absolute;
  max-width: 20em;
  background-color: rgba(255,192,203,0.85);
  border: 0.1em solid red;
  border-radius: 0em 0.4em 0.4em 0.4em;
  padding: 0em 0.2em 0em 0.2em;
  color: red;
}

.err_notif.hide{
  display: none;
}

.err_notif.show{
  display: block;
}

.icon {
  cursor: pointer;
}

label {
  font-weight: bold;
}

.published{
  background-color: lightgreen;
  border-radius: 0.5em;
}
.pub_div{
  float: right; 
  color: green;
}

textarea{
  width: 30em;
  height: 10em;  
}

/*.form_question, .form_answer{
  min-width: 463px;
}*/

.f2help_contain{
  background-image: url('../IMG/f2help.png');
  background-repeat: no-repeat;
  background-position: left top;
  cursor: pointer;
  min-width: 16px;
  min-height: 16px;
}

.f2help_contain .f2help{
  display: none;
}

.f2help_contain.open .f2help{
  display: block;
}

.f2help{
  padding-top: 16px; /* use px because the graphic is a px size! */
  padding-left: 0.2em;
  padding-right: 0.2em;
  /*border: 1px solid black;*/
}

.rtebutton {
  display: none;
  padding-left: 18px;
  background-image: url("../IMG/edit_rte.png");
  background-repeat: no-repeat;
  background-position: left top;
}